@import '/styles/globals';

#hero {
    display: grid;

    .hero_header {
        position: absolute;
    }

    .hero_subheader {
        position: absolute;

        p {
            padding-left: 1rem;
            margin-bottom: 1rem;
        }
    }

    .hero_scroll {
        position: absolute;
        right: 5vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-transform: uppercase;
        animation: blink 2s linear infinite;

        div {
            display: flex;
            align-items: flex-end;

            p {
                font-size: calc($paragraph - 2px);
            }
        }

        @keyframes blink {
            0% {
                opacity: 0.05;
            }

            10% {
                opacity: 0.1;
            }

            45% {
                opacity: 0.95;
            }

            50% {
                opacity: 1;
            }

            55% {
                opacity: 0.95;
            }

            90% {
                opacity: 0.1;
            }

            100% {
                opacity: 0.05;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.gradientBorder {
    background: linear-gradient(180deg, $purple 0%, $magenta 100%);
    background-size: 3px;
    background-repeat: no-repeat;
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
    #hero {
        .wrapper {
            grid-template-columns: repeat(12, 1fr);
            height: calc(100vh - 50px - 5vh);

            .hero_header {
                top: 20vh;
                right: 10vw;
            }

            .hero_subheader {
                bottom: 5vh;
                left: 10vw;

                p {
                    max-width: 480px;
                }
            }

            .hero_scroll {
                bottom: 5vh;
            }
        }
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768) and (max-width: 1023px) {
    #hero {
        .wrapper {
            grid-template-columns: repeat(8, 1fr);
            height: calc(100vh - 50px - 9vh);
        }
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    #hero {
        .wrapper {
            grid-template-columns: repeat(6, 1fr);
            height: calc(100vh - 50px - 13vh);

            .hero_header {
                top: 25vh;
                right: 5vw;
            }

            .hero_subheader {
                bottom: 9vh;
                left: 5vw;

                p {
                    max-width: 300px;
                }
            }

            .hero_scroll {
                bottom: 3vh;
                right: 5vw;
            }
        }
    }
}