@import '/styles/globals';

// ------------------------------ Strips ------------------------------
.strip {
    position: fixed;
    width: 1px;
    height: 100vh;
    background: linear-gradient(180deg, $white 0%, $background 100%);
    opacity: 0.125;
    z-index: -1;
}

.one {
    left: 27.96%;
    top: 0;
}

.two {
    left: 50%;
    top: 0;
}

.three {
    right: 27.96%;
    top: 0;
}

// ------------------------------ Overlay ------------------------------
.overlay_1 {
    position: fixed;
    height: 100vh;
    width: 22.03%;
    left: 5.93%;
    top: 0;
    background: $gradient_overlay;
    opacity: 0.15;
    z-index: -1;
}

.overlay_2 {
    position: fixed;
    height: 100vh;
    width: 22.03%;
    left: 27.96%;
    top: 0;
    background: $gradient_overlay;
    opacity: 0.25;
    z-index: -1;
}

.overlay_3 {
    position: fixed;
    height: 100vh;
    width: 22.03%;
    left: 50%;
    top: 0;
    background: $gradient_overlay;
    opacity: 0.25;
    z-index: -1;
}

.overlay_4 {
    position: fixed;
    height: 100vh;
    width: 22.03%;
    left: 72.04%;
    top: 0;
    background: $gradient_overlay;
    opacity: 0.25;
    z-index: -1;
}